.bookmark-added-icon {
  position: relative;
  left: 5px;
}

.team-item {
  display: flex;
  gap: 1.5em;
  flex-wrap: wrap;
  margin-bottom: 20px;
  align-items: center;
}

.team-wrapper {
  display: flex;
  align-items: center;
  max-height: 35px;
  width: 200px;
}

.add-favorites-wrapper {
  margin-left: auto;
  margin-right: 0;
}

.country-team-info {
  display: flex;
  align-items: center;
}

.team-info {
  display: flex;
  flex-direction: column;
}

.team-name {
  font-size: 18px;
}

.qualified {
  width: 8px;
  height: 40px;
  margin: auto 0;
  border-radius: 2px;
}

img {
  width: 45px;
  height: 45px;
}

.flag {
  width: 30px;
  height: 30px;
}

.menu-item {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 5px;
  width: 300px;
  height: 140px;
  background-color: rgb(204, 235, 204);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  display: grid;
  grid-template-columns: 200px 90px ;
  justify-content: space-around;
  gap: 10px;

}

.menu-item h4{
  display: inline;
}

.add-to-cart{
  position: relative;
  top: 0px;
}


.image-button-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2em;
}

@media screen and (max-width: 395px){
  img {
    width: 33px;
    height: 33px;
  }

  .qualified {
    height: 30px;
  }

  .team-name {
    font-size: 16px;
  }

  .country-of-team {
    font-size: 13px;
  }

  .team-item {
    gap: 1em;
  }

  .add-favorites-wrapper{
    margin-right: 5px;
  }
}

@media screen and (max-width: 318px) {
  img {
    display: none;
  }

  .team-wrapper {
    width: 170px;
  }
}
